// SPDX-License-Identifier: BSD-3-Clause
/*
 * Choiceway GT6-EAU car head unit (Fibocom SC820/QCM6125), derived from
 * sm6125-xiaomi-ginkgo.dts by Gabriel Gonzales <semfault@disroot.org>.
 */

/dts-v1/;

#include <dt-bindings/arm/qcom,ids.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/pinctrl/qcom,pmic-gpio.h>
#include "sm6125.dtsi"
#include "pm6125.dtsi"

/ {
	model = "Choiceway GT6-EAU";
	compatible = "choiceway,gt6-eau", "qcom,sm6125";
	chassis-type = "embedded";

	/* required for bootloader to select correct board */
	/*
	 * The SoC reports QCM6125 (0x1d3), not SM6125 (394). The board IDs are the stock base
	 * DTBs' (boot.img, 2026-09-30), so ABL takes this DTB whichever base it would have picked.
	 */
	qcom,msm-id = <0x1d3 0>;
	qcom,board-id = <0 0>, <0 1>, <0 2>;

	chosen {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		framebuffer0: framebuffer@5c000000 {
			compatible = "simple-framebuffer";
			reg = <0 0x5c000000 0 (1920 * 720 * 4)>;
			width = <1920>;
			height = <720>;
			stride = <(1920 * 4)>;
			format = "a8r8g8b8";
		};
	};

	panel_avdd: regulator-panel-avdd {
		compatible = "regulator-fixed";
		regulator-name = "panel_avdd";
		gpio = <&tlmm 95 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		startup-delay-us = <5000>;
	};

	panel_vmipi: regulator-panel-vmipi {
		compatible = "regulator-fixed";
		regulator-name = "panel_vmipi";
		gpio = <&tlmm 84 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		startup-delay-us = <5000>;
	};

	/* on/off only: the stock PWM dimming sits on a PMIC channel mainline has no node for */
	backlight: backlight {
		compatible = "gpio-backlight";
		gpios = <&tlmm 97 GPIO_ACTIVE_HIGH>;
		default-on;
	};

	reserved-memory {
		debug_mem: debug@ffb00000 {
			reg = <0x0 0xffb00000 0x0 0xc0000>;
			no-map;
		};

		last_log_mem: lastlog@ffbc0000 {
			reg = <0x0 0xffbc0000 0x0 0x80000>;
			no-map;
		};

		pstore_mem: ramoops@ffc00000 {
			compatible = "ramoops";
			reg = <0x0 0xffc40000 0x0 0xc0000>;
			record-size = <0x1000>;
			console-size = <0x40000>;
			pmsg-size = <0x20000>;
		};

		cmdline_mem: memory@ffd00000 {
			reg = <0x0 0xffd40000 0x0 0x1000>;
			no-map;
		};
	};


};


&hsusb_phy1 {
	vdd-supply = <&vreg_l7a>;
	vdda-pll-supply = <&vreg_l10a>;
	vdda-phy-dpdm-supply = <&vreg_l15a>;
	status = "okay";
};

&pon_pwrkey {
	status = "okay";
};


&rpm_requests {
	regulators-0 {
		compatible = "qcom,rpm-pm6125-regulators";

		vreg_s6a: s6 {
			regulator-min-microvolt = <936000>;
			regulator-max-microvolt = <1422000>;
		};

		vreg_l1a: l1 {
			regulator-min-microvolt = <1200000>;
			regulator-max-microvolt = <1256000>;
		};

		vreg_l2a: l2 {
			regulator-min-microvolt = <1000000>;
			regulator-max-microvolt = <1056000>;
		};

		vreg_l3a: l3 {
			regulator-min-microvolt = <1000000>;
			regulator-max-microvolt = <1064000>;
		};

		vreg_l4a: l4 {
			regulator-min-microvolt = <872000>;
			regulator-max-microvolt = <976000>;
			regulator-allow-set-load;
		};

		vreg_l5a: l5 {
			regulator-min-microvolt = <1648000>;
			regulator-max-microvolt = <2950000>;
			regulator-allow-set-load;
		};

		vreg_l6a: l6 {
			regulator-min-microvolt = <576000>;
			regulator-max-microvolt = <656000>;
		};

		vreg_l7a: l7 {
			regulator-min-microvolt = <872000>;
			regulator-max-microvolt = <976000>;
		};

		vreg_l8a: l8 {
			regulator-min-microvolt = <400000>;
			regulator-max-microvolt = <728000>;
		};

		vreg_l9a: l9 {
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1896000>;
		};

		vreg_l10a: l10 {
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1896000>;
			regulator-allow-set-load;
		};

		vreg_l11a: l11 {
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1952000>;
			regulator-allow-set-load;
		};

		vreg_l12a: l12 {
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1996000>;
		};

		vreg_l13a: l13 {
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1832000>;
		};

		vreg_l14a: l14 {
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1904000>;
		};

		vreg_l15a: l15 {
			regulator-min-microvolt = <3104000>;
			regulator-max-microvolt = <3232000>;
		};

		vreg_l16a: l16 {
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1904000>;
		};

		vreg_l17a: l17 {
			regulator-min-microvolt = <1248000>;
			regulator-max-microvolt = <1304000>;
		};

		vreg_l18a: l18 {
			regulator-min-microvolt = <1200000>;
			regulator-max-microvolt = <1264000>;
			regulator-allow-set-load;
		};

		vreg_l19a: l19 {
			regulator-min-microvolt = <1648000>;
			regulator-max-microvolt = <2952000>;
		};

		vreg_l20a: l20 {
			regulator-min-microvolt = <1648000>;
			regulator-max-microvolt = <2952000>;
		};

		vreg_l21a: l21 {
			regulator-min-microvolt = <2600000>;
			regulator-max-microvolt = <2856000>;
		};

		vreg_l22a: l22 {
			regulator-min-microvolt = <2944000>;
			regulator-max-microvolt = <2950000>;
			regulator-allow-set-load;
		};

		vreg_l23a: l23 {
			regulator-min-microvolt = <3000000>;
			regulator-max-microvolt = <3400000>;
		};

		vreg_l24a: l24 {
			regulator-min-microvolt = <2944000>;
			regulator-max-microvolt = <2950000>;
			regulator-allow-set-load;
		};

	};
};



&sdhc_1 {
	vmmc-supply = <&vreg_l24a>;
	vqmmc-supply = <&vreg_l11a>;
	status = "okay";
};


&tlmm {
	gpio-reserved-ranges = <22 2>, <28 6>;
};

&usb3 {
	status = "okay";
};

&usb3_dwc3 {
	/* the bench laptop is the host: adb and the boot gadget */
	dr_mode = "peripheral";
};

&mdss {
	status = "okay";
};

&mdss_dsi0 {
	vdda-supply = <&vreg_l18a>;
	status = "okay";

	panel@0 {
		compatible = "yuntang,s6d7aa0-720x1920";
		reg = <0>;

		reset-gpios = <&tlmm 90 GPIO_ACTIVE_LOW>;
		power-supply = <&panel_avdd>;
		vmipi-supply = <&panel_vmipi>;
		backlight = <&backlight>;
		rotation = <90>;

		port {
			panel_in: endpoint {
				remote-endpoint = <&mdss_dsi0_out>;
			};
		};
	};
};

&mdss_dsi0_out {
	remote-endpoint = <&panel_in>;
	data-lanes = <0 1 2 3>;
};

&mdss_dsi0_phy {
	status = "okay";
};
